[user]
	email = michaelsmiller2@gmail.com
	name = Michael Miller

[core]
  editor = vim

[merge]
  tool = vimdiff

[color]
  status = never

[alias]
	; lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  last = log -1 HEAD
  filter-repo = !git-filter-repo
  gud = !echo "I am Melania, Blade of Miquella, and I have never known defeat."
